{% extends "blog/base.html" %}
{% block title %}{{ query }}{% endblock %}

{% block content %}
    <section class="info">
        <div class="container">
            <h1>Результаты по запросу: {{ query }}</h1>
            <hr>
        </div>
    </section>

    <section class="posts">
        {% if results %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-sm-12 cat-block">
                        {% for post in results %}
                            <div class="row">
                                <div class="col-lg-4 col-sm-12 d-flex align-items-center">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                                </div>
                                <div class="col-lg-8 col-sm-12">
                                    <h2 class="head2"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                    <div class="mb-3">
                                        <p class="lead"><a
                                                href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                                            | {{ post.author }} | {{ post.publish | date:"d F Y" }} |
                                            Просмотров: {{ post.views }}</p>
                                        {% for tag in post.tags.all %}
                                            <a href="{% url 'blog:tag_page' tag.slug %}"><span
                                                    class="badge bg-secondary">{{ tag.name }}</span></a>
                                        {% endfor %}
                                    </div>
                                    {{ post.short_body | safe }}
                                </div>
                            </div>
                            <hr class="m-3">
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <h2 class="mb-3">Ссылки</h2>
                        {% block social_links %}
                            {% include 'blog/index_page/social_links.html' %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-12">
                    {% include "blog/modules/pagination.html" with page_obj=results %}
                </div>
            </div>
        {% else %}
            <div class="container">
                <h3>Нет результатов</h3>
            </div>
        {% endif %}
    </section>
{% endblock %}